# Игнорировать файл .env, содержащий конфиденциальные переменные окружения
.env

# Игнорировать директорию, содержащую зависимости Node.js
node_modules/

# Игнорировать файлы и директории, созданные Visual Studio Code
.vscode/

# Игнорировать файлы и директории, созданные IntelliJ IDEA
.idea/

# Игнорировать временные файлы
*.tmp

# Игнорировать скомпилированный код Java
*.class

# Игнорировать файлы с логами
*.log
